/* common styles or utilitis*/
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
/* banner-section style */
.banner-section{
    display: flex;
    background-color: #2D25A0;
    padding-top:75px;
    padding-left: 75px;
    padding-bottom: 40px;
}
.banner-info{
    width: 50%;
}
.banner-info h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
}
.btn-link{
    background-color: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 24px;
}
.btn-link:hover{
    padding: 20px 34px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    background-image: linear-gradient(#834270, #e91566);
}
.banner-immage{
    width: 50%;
    padding-top: 40px;
    padding-right: 65px;
    padding-bottom: 20px;
}
.banner-section .banner-immage img{
    width: 550px;
    height: 450px;
}
/* Player details style */
.player-details{
    padding-top:85px;
    padding-left: 13%;
    padding-right: 15%;
    padding-bottom: 50px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.players .player{
    width: 300px;
    height: 450px;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-image img{
    width: 300px;
    height: 200px;
    margin-bottom: -5%;
}
.player .player-info h3{
    margin-bottom: -3%;
    font-size: 30px;
    font-weight: 700;
    color: #18191F;
}
.player .player-info p{
    color: #858585;
    text-align: justify;
}
/* footer section style */
.footer-section{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 450px;
    height: 110px;
}
.footer-social-icon .social-icon{
    padding: 20px 7px 7px 5px;
    width: 32px;
    height: 32px;
}
.copy-right-part p{
    font-size: 16px;
    text-decoration: underline #bebec0;
}
